<section class="team-section text-center my-4 px-5">
    <div class="page-section" id="team">
        <div class="container">
            <div class="section-title text-center">
                <h2>From Telesim community</h2>
                <p>Our Team</p>
            </div>
            <hr class="divider my-4" />
            <div>
                <section class="section section-grid text-center">
                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/EUGENE_TUYISHIME.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">EUGENE TUYISHIME</h5>
                        <p class="text-uppercase blue-text"><strong> M.D</strong></p>
                        <p class="grey-text"> TUYISHIME is a Simulation Fellow at OhioHealth and an Anesthesiologist. He
                            founded the
                            Simulation
                            for Health Africa Initiative.</p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>


                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/KIRSTEN_STOKES.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">KIRSTEN STOKES</h5>
                        <p class="text-uppercase blue-text"><strong>Team</strong></p>
                        <p class="grey-text">Kirsten has spent several years working for NGOs in the USA and
                            internationally.</p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>
                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/MIKE_NSUBUGA.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">MIKE NSUBUGA</h5>
                        <p class="text-uppercase blue-text"><strong>Team</strong></p>
                        <p class="grey-text"> Mike Nsubuga is a Bioinformatics Graduate trainee within the Infectious
                            Diseases Institute
                        </p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>
                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/GJANJE_SMITH.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">GJANJE SMITH</h5>
                        <p class="text-uppercase blue-text"><strong> MD, MPH </strong></p>
                        <p class="grey-text"> Dr. Gjanje Smith is a board-certified urologist with fellowship training
                            in Female Pelvic
                            Medicine and Pelvic Reconstructive Surgery. </p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>

                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/SERGIO_NAVARRO.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">SERGIO M NAVARRO</h5>
                        <p class="text-uppercase blue-text"><strong> MD, MBA </strong></p>
                        <p class="grey-text">
                            Dr. Sergio M Navarro is a resident physician in training completing his general surgery.
                            He obtained his Bachelor in Science in Mechanical Engineering and History , MBA, and a
                            medical
                            degree. </p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>
                    <div class="avatar mx-auto">
                        <img width="300" src="assets/img/EBUBE_OFILI.jpg" class="app-img" style="opacity:0.9;">

                        <h5 class="font-weight-bold mt-4 mb-3">EBUBE OFILI</h5>
                        <p class="text-uppercase blue-text"><strong> Team </strong></p>
                        <p class="grey-text">

                            Ebube Ofili is Guidance Counsellor. He is the Founder of Habeet Games, an enterprise that
                            develops video games for psychological and educational purposes.</p>
                        <ul class="list-unstyled mb-0">

                            <!-- Facebook -->
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>

                        </ul>

                    </div>

                </section>
            </div>
        </div>
    </div>
</section>