<section>
    <section class="section section-stream">
        <img src="../../../assets/img/doctor.jpg" alt="" class="play rellax" data-rellax-speed="-1"  data-rellax-xs-speed="-1">

        <div class="content rellax" data-rellax-speed="10">
            <div>
                <h3 class="secondary-text">Find flexible, affordable options</h3>
                <p>70% of people learning for professional development report career benefits such as getting a promotion, a raise, or starting a new career.</p>
            </div>
            <a href="courses.html" class="btn-get-started">Get Started</a>
            </div>
    </section>
</section>

