

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h2 class="logo mr-auto"><a href="index.html"> Telesim Solutions </a></h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          
          <li><a href="trainers.html">Team</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="courses.html">Courses</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

