.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-control{
  width: 300px;
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 25px;
  transition: 0.5s;
  border-radius: 10px;
  color: #308048;
}
.btn-get-started:hover {
  background: #16351f;
  border: 2px solid #214b2e;
}
