<section>
    <section class="section section-stream">
        <img src="../../../assets/img/7.jpg" alt="" class="play rellax" data-rellax-speed="-1"  data-rellax-xs-speed="-1">

        <div class="content rellax" data-rellax-speed="10">
            <div>
                <h3 class="secondary-text">Find flexible, affordable options</h3>
                <p>Choose from many courses at a breakthrough price. Learn at your own pace, 100% online.</p>
            </div>
            </div>
    </section>

</section>